{% extends 'base.html.twig' %}

{% block title property.title %}


{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Veillez a bien remplir le formulaire
            </div>
        {% endif %}
        <div id="contactForm">
            {{ form_start(form) }}
            <div class="col-md-6">{{ form_row(form.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.message) }}</div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

